name: Main Workflow

on: [push, pull_request]

jobs:
  build:
    name: Build
    strategy:
      matrix:
        rust-version: ["1.59", "stable"]
    runs-on: ubuntu-latest
    steps:
      - name: Repository Checkout
        uses: actions/checkout@v5

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install Linux dependencies
        run: sudo apt-get update && sudo apt-get install -y libgtk-3-dev libglib2.0-dev libappindicator3-dev

      - name: Cache
        uses: Swatinem/rust-cache@v2

      - name: Run Unit Tests
        run: |
          cargo check
          cargo test
