name: Main Workflow

on: [push, pull_request]

jobs:
  build:
    name: Build
    strategy:
      matrix:
        rust-version: ["1.70", "stable"]
    runs-on: ubuntu-latest
    steps:
      - name: Repository Checkout
        uses: actions/checkout@v6

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Cache APT packages
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libgtk-3-dev libappindicator3-dev libxdo-dev
          version: 1.0

      - name: Cache
        uses: Swatinem/rust-cache@v2

      - name: Run Unit Tests
        run: |
          cargo check
          cargo test
